<footer class="container-FLUID p-5 gra">
  <div class="row text-light">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-warning">FARMIE © 2020-2021 </small>
      
    </div>
    <div class="col-6 col-md">
      <h5 class="text-light">Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-warning" href="#">Cool stuff</a></li>
        <li><a class="text-warning" href="#">Random feature</a></li>
        <li><a class="text-warning" href="#">Team feature</a></li>
        <li><a class="text-warning" href="#">Stuff for developers</a></li>
        <li><a class="text-warning" href="#">Another one</a></li>
        <li><a class="text-warning" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-light">Menu</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-warning" href="#">Resource</a></li>
        <li><a class="text-warning" href="#">Policies</a></li>
        <li><a class="text-warning" href="#">Groups</a></li>
        <li><a class="text-warning" href="#">Community</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-light">Service</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-warning" href="#">Business</a></li>
        <li><a class="text-warning" href="#">farming</a></li>
        <li><a class="text-warning" href="#">vehicle</a></li>
        <li><a class="text-warning" href="#">invoice</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-light">About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-warning" href="#">Team</a></li>
        <li><a class="text-warning" href="#">Locations</a></li>
        <li><a class="text-warning" href="#">Privacy</a></li>
        <li><a class="text-warning" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>